@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
  font-family: "Noto Serif JP", serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.86;
  color: #000;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style: none;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

/* 部品
------------------------------------------ */
/* ボタン */
.button{
  padding:.875rem 3.75rem;
  border-radius: 2.125rem;
  opacity: 1;
  font-size: 1.125rem;
  font-weight: 600;
  color: #FFF;
}
.bule{
  background-color: #46C4DB;
}
.green{
  background-color: #5DD5AB;
}
@media(min-width:768px){
  .green{
    padding: .875rem 7.1875rem;
  }
}

/* ヘッダー
------------------------------------------*/

/* ヘッダートップ */
.header__top{
  position: relative;
  background-image: url(/assets/image/header/mainVisual_sp.jpg);
  background-size: cover;
  height: 28.125rem;
}
@media(min-width:768px){
  .header__top{
    background-image: url(/assets/image/header/mainVisual_pc_2009.jpg);
    background-position: 16% 63%;
    height: 45rem;
    background-size: 133%;

  }
}
@media(min-width:768px) and (max-width:984px){
  .header__top{
    background-image: url(/assets/image/header/mainVisual_pc_984.jpg);
    width: 106%;
  }
}
.header__top-logo{
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  position: absolute;
  top: 4%;
  left: 50% ;
  transform: translateX(-50%);
  letter-spacing: .2813rem;
}
@media(min-width:768px){
  .header__top-logo{
    top: 3%;
    left: 50% ;
    font-size: 1.75rem;
    letter-spacing: .3125rem;
  }
}
.header__top-item{
  position: absolute;
  bottom: -23%;
  left: 39% ;
  transform: translateX(-50%);
}
@media(min-width:768px){
  .header__top-item{
    bottom: 38%;
    left: 26.5% ;
  }
}
.header__top-item-title{
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5625rem;
  letter-spacing: .75rem;
  line-height: 1.2;
}
@media(min-width:768px){
  .header__top-item-title{
    font-size: 3.125rem;
    letter-spacing: .9375rem;
    line-height: 1.3;
  }
}
.header__top p{
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: .375rem;
  width: 112%;
}
@media(min-width:768px){
  .header__top p{
    font-size: 1.5625rem;
    letter-spacing: .4375rem;
  }
}
/* ヘッダーボトム */
.header__bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F4FF;
  margin: 9.8125rem .875rem 3.125rem;
  line-height: 1.7;
  padding-bottom: 2.125rem;
}
@media(min-width:768px){
  .header__bottom{
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem auto;
    max-width: 62.5rem;
    line-height: 1.7;
    padding-top: 1.1875rem;
    padding-bottom: 1.375rem;
  }
}
/* ヘッダーボトムタイトル */
.header__bottom-title{
  padding-bottom: 1.125rem;
}
@media(min-width:768px){
  .header__bottom-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3.125rem;
    flex-grow: 1;
  }
}
.header__bottom-title p:nth-child(1){
  padding-top: 1.1875rem;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: .125rem;
}
@media(min-width:768px){
  .header__bottom-title p:nth-child(1){
    padding-top: 1.1875rem;
    font-size:clamp(1.125rem, 2vw, 1.5rem);
    letter-spacing: .125rem;
  }
}
.header__bottom-title p:nth-child(2){
  font-size: .875rem;
  font-weight: 400;
  text-align: center;
}
@media(min-width:768px){
  .header__bottom-title p:nth-child(2){
    font-size:1rem;
  }
}
.header__bottom-title p:nth-child(2) span{
  padding-left: .4375rem;
  letter-spacing: .0625rem;
}
/* ヘッダーボトムボタン */
.header__bottom-item{
  display: flex;
  flex-direction: column;
  row-gap: 1.1875rem;
  text-align: center;
}
@media(min-width:768px){
  .header__bottom-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 0;
    column-gap: 2rem;
    flex-grow: 2;
    padding-right: .8125rem;
  }
}

/* お肌を美しく保つ
----------------------------------------------------*/
.about__container{
  position: relative;
  background-image: url(/assets/image/about/pmv_chamara_sp.jpg);
  background-position: 51% 3%;
  height: 42.5rem;
  background-size: 332%;
  color: #FFF;
}
@media(min-width:768px){
  .about__container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(/assets/image/about/pmv_chamara_pc.jpg);
    background-position: 100% 54%;
    background-size: 136%;
    height: 34.375rem;

  }
}
/* タイトル */
.about__container-top{
  text-align: center;
  padding-top: 2.6875rem;
  line-height: 1.5;
}
@media(min-width:768px){
  .about__container-top{
    position: absolute;
    top: 22%;
    right: 17%;
    text-align: left;
    padding-top: 0;
  }
}
.about__container-top h2{
  font-family: "EB Garamond", serif;
  font-size: 1.875rem;
  font-weight: 700;
}
@media(min-width:768px){
  .about__container-top h2{
    font-size: 2.375rem;
  }
}
.about__container-top p{
  font-size: 1.5rem;
  font-weight: 600;
}

/* 説明文 */
.about__container-bottom{
  padding-top: 1rem;
  max-width: 22.5rem;
  margin: 0 auto;
  line-height: 2.3;
}
@media(min-width:768px){
  .about__container-bottom{
    position: absolute;
    top: 40%;
    right: 16%;
    max-width: 27rem;
  }
}
.about__container-bottom p{
  font-size: .875rem;
  font-weight: 400;
}

/* お客様の声
-------------------------------------------- */
.voices__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* タイトル */
.voices__container-title{
  padding-top: 2.875rem;
  letter-spacing: .0625rem;
  line-height: 1.5;
}
@media(min-width:768px){
  .voices__container-title{
    padding-top: 4.875rem;
  }
}
.voices__container-title h2{
  font-family: "EB Garamond", serif;
  font-size: 1.875rem;
  font-weight: 700;
}
@media(min-width:768px){
  .voices__container-title h2{
    font-size: 2.8125rem;
  }
}
.voices__container-title p{
  font-size: 1rem;
  font-weight: 600;
}
@media(min-width:768px){
  .voices__container-title p{
    font-size: 1.25rem;
    padding-left: .625rem;
  }
}

/* コンテンツ全体 */
.voices__slick{
    width: 100%;
    padding: 2.1875rem 3.4375rem;
}
.voices__slick-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.875rem;
  background-color: #DBF7F9;
}
@media(min-width:768px){
  .voices__slick-inner{
    padding-top: 2.8125rem;
  }
  .slick-list {
    position: relative;
    max-width: 63.125rem;
    margin: 0 auto;
  }
}
/* 768px以上で、コンテンツ幅の調整 */
@media(min-width:768px){
  .voices__slick-item {
    margin: 2.375rem .875rem;
    padding: 0 .3125rem;
    box-sizing: border-box;
    max-width: 19.375rem;
  }
  .voices__slick {
    position: relative;
    padding: 0;
  }
}

/* コンテンツ写真 */
.voices__slick-item-circle{
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: .375rem;
}
@media(min-width:768px){
  .voices__slick-item-circle{
    width: 6.25rem;
    height: 6.25rem;
  }
}
.voices__slick-item-circle picture{
  position: absolute;
  top: -.125rem;
  left: -8.6875rem;
  width: 13.875rem;
  height: auto;
}
@media(min-width:768px){
  .voices__slick-item-circle picture{
    left: -9.625rem;
    width: 15.875rem;
  }
}
/* 各写真設定 */
.voices__slick-item:nth-child(2) .voices__slick-item-circle picture{
  top: 0;
  left: -.875rem;
  width: 7.375rem;
}
@media(min-width:768px){
  .voices__slick-item:nth-child(2) .voices__slick-item-circle picture{
    top: -.3125rem;
    left: -1.25rem;
    width: 9.1875rem;
  }
}
.voices__slick-item:nth-child(3) .voices__slick-item-circle picture{
  top: -.3125rem;
  left: -2.0625rem;
  width: 8rem;
}
@media(min-width:768px){
  .voices__slick-item:nth-child(3) .voices__slick-item-circle picture{
    top: -.875rem;
    left: -2.875rem;
    width: 10.625rem;

  }
}
.voices__slick-item:nth-child(4) .voices__slick-item-circle picture{
  top: -.1875rem;
  left: 0;
  width: 5rem;
}
@media(min-width:768px){
  .voices__slick-item:nth-child(4) .voices__slick-item-circle picture{
    top: -.25rem;
    left: 0;
    width: 6.25rem;
  }
}
.voices__slick-item:nth-child(5) .voices__slick-item-circle picture{
  top: -.5625rem;
  left: 0;
  width: 5rem;
}
@media(min-width:768px){
  .voices__slick-item:nth-child(5) .voices__slick-item-circle picture{
    top: -.5625rem;
    left: 0;
    width: 6.25rem;
  }
}
.voices__slick-item:nth-child(6) .voices__slick-item-circle picture{
  top: -.75rem;
  left: -1.375rem;
  width: 7.5rem;
}
@media(min-width:768px){
  .voices__slick-item:nth-child(6) .voices__slick-item-circle picture{
    top: -.75rem;
    left: -1.75rem;
    width: 9.375rem;
  }
}

/* コンテンツテキスト */
.voices__slick-item p{
  font-size: .875rem;
  font-weight: 400;
  padding-top: .25rem;
}

/* 説明文 */
.voices__slick-item-text{
  padding: .375rem 1rem 1.6875rem .8125rem;
  line-height: 2;
}
@media(min-width:768px){
  .voices__slick-item-text{
    padding: 0 .9375rem 2.5rem .875rem;
    line-height: 1.8;
    }
}
.voices__slick-item-text p{
  font-size: .875rem;
  font-weight: 400;
}
@media(min-width:768px){
  .voices__slick-item-text p{
    font-size: 1rem;
  }
}

/* 矢印 */
.slick-prev, .slick-next {
  z-index: 10;
  position: absolute;
  top: 50.5%;
  transform: translateY(-50%);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
@media(min-width:768px){
  .slick-prev, .slick-next {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.slick-prev {
  left: 1rem;
}
@media(min-width:768px){
  .slick-prev {
    left: 11.5%;
  }
}
@media(min-width:1300px) and (max-width:1400px){
  .slick-prev {
    left: 8.5%;
  }
}
@media(min-width:1200px) and (max-width:1300px){
  .slick-prev {
    left: 4.5%;
  }
}
@media(min-width:1100px) and (max-width:1200px){
  .slick-prev {
    left: .5%;
  }
}
@media(min-width:1000px) and (max-width:1100px){
  .slick-prev {
    left: -2%;
  }
}
@media(min-width:768px) and (max-width:1000px){
  .slick-prev {
    left: -4%;
  }
}
.slick-next {
  right: 1rem;
}
@media(min-width:768px){
  .slick-next {
    right: 11.5%;
  }
}
@media(min-width:1300px) and (max-width:1400px){
  .slick-next {
    right: 8.5%;
  }
}
@media(min-width:1200px) and (max-width:1300px){
  .slick-next {
    right: 4.5%;
  }
}
@media(min-width:1100px) and (max-width:1200px){
  .slick-next {
    right: .5%;
  }
}
@media(min-width:1000px) and (max-width:1100px){
  .slick-next {
    right: -2%;
  }
}
@media(min-width:768px) and (max-width:1000px){
  .slick-next {
    right: -4%;
  }
}
/* ドット */
.slick-dots {
  bottom: 0%;
  left: 0%;
}
.slick-dots li {
  width: .5rem;
}
/* ドットのボタンの見た目 */
.slick-dots li button {
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color:#EEE;
  opacity: 1;
}

/* 選択されているドットの色 */
.slick-dots li.slick-active button {
  background-color: #00AFBF;
}
.slick-dots li button:before{
  font-size: 0;
}
